<div class="container">
  <h1>Your search resulted in | <strong><%= @gigs.total_count %></strong> gigs.</h1>
  <%= form_tag search_gigs_path, method: :get do |f| %>
    <%= text_field_tag :search, nil, placeholder: "Example Software Developer", class: "col-md-9" %>
    <%= submit_tag "Search", class: "col-md-3 btn2 btn-primary" %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h3 class="">Advanced search</h3>
      <%= form_tag search_gigs_path, method: :get do |f| %>
        <div class="form-group">
          <label>Search</label>
          <%= text_field_tag :search, nil, placeholder: "Developer, Accountant, etc.", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <label>Category</label>
          <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name), class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <label>Location</label>
          <%= text_field_tag :location, nil, placeholder: "Georgetown, Penang, etc", class: "form-control input-lg" %>
        </div>
        <br>
        <%= submit_tag "Search", class: "btn btn-primary btn-block input-lg" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-9">
      <h3>Gigs
        <span class="pull-right"><small>1 - 12 results</small></span>
      </h3>    
          <div class="pull-right">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Sort by
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Oldest", gigs_path(sort_by: "oldest") %></li>
              <li><%= link_to "Newest", gigs_path(sort_by: "newest") %></li>
              <li><%= link_to "Name", gigs_path(sort_by: "name") %></li>
            </ul>
          </div>
        </div>
      <table class="table table-striped" style="background-color: rgb(89, 158, 243);" >
        <tbody>
          <% @gigs.each do |gig| %>
          <tr>
            <td>
              <p>
                <%= link_to gig.name, gig %>
               
              </p>
              <p>Google enterprises</p>
            </td>
            <td>
              <p><i class="glyphicon glyphicon-calendar"><%= gig.created_at.strftime("%b %d, %Y") %></i></p>
              <p><i class="glyphicon glyphicon-map-marker"></i><%= gig.location %></p>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= paginate @gigs %>
    </div>
  </div>
</div>
